body{
	background-image: url("https://az616578.vo.msecnd.net/files/2016/04/03/635953199045378777-326453585_university-at-buffalo.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: #fff;
    padding: 180px 45px;

}


/*.container{
	background-image: url("https://az616578.vo.msecnd.net/files/2016/04/03/635953199045378777-326453585_university-at-buffalo.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}*/

.centered-form {

	margin-top: 60px;
	text-align: left;

}


.centered-form .panel{
	position: fixed;
	min-width: 40%;
	top: 20%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
	
	background:rgba(255,255,255,0.8);
	box-shadow: rgba(0,0,0,0.3)20px 20px 20px;
	width: 500px;

	padding: 20px 20px;

	text-align: left;
	display: inline-block;

}

.input[type=checkbox]{
	display: inline-block;
}



.LoginBox input[type="Submit"]{
	
	border:none;
	outline:none;
	height: 40px;
	color: white;
	font-size: 30px;
	background: rgba(31, 158, 216, 0.89);
	cursor: pointer;
	border-radius: 20px;
}

.LoginBox input[type="Submit"]:hover
{
	background: white;
	color: #e61515;
	 
}




	
