<!DOCTYPE html>
<html>
<head>
  <title>AroundMe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/landing.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://use.fontawesome.com/9923c2a030.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #005bbb;">
    <div class="container">
      <div class="navbar-header">
          <span class="icon-bar"></span>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
           <!-- <a id="brand-image" class="navbar-brand" href="#myPage">HOME</a> -->
      </div>

      <div class="collapse navbar-collapse" id="myNavbar" >
        <ul class="nav navbar-nav navbar-left">
          <li><a href="">AROUNDME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#resume">TEAM</a></li>
           <!-- <li><a href="#portfolio">PORTFOLIO</a></li> -->
          <li><a href="https://docs.google.com/forms/d/1icBvlqZN7i5V7Ln7VWFr1sPfbLNhwntIwgXAHCqH5Pk/edit" target="_blank">FEEDBACK</a></li>
          <li><a href="https://github.com/depuleio/aroundMe" target="_blank">REPORT BUG</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="http://depuleio.pythonanywhere.com/"> VISIT WEBSITE</a></i></li>
        </ul>
      </div>
    </div>
</nav>

<div style="padding-top: 50px;">
</div>
<div class="embed-responsive embed-responsive-16by9" >
        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/pm5R-Px4MIc?autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0"></iframe>
</div>

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/g67h9WIj-DU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->

<!-- <div class="jumbotron text-center">
        <iframe width="860" height="615" src="https://www.youtube.com/embed/g67h9WIj-DU?rel=0" frameborder="0" style="padding-top: 5px !important;"></iframe>
</div> -->

<!-- <div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"> 
        <div id="content">
              <h1>AroundMe</h1>
              <h3>You Always Have Something to do</h3>

        </div>  
      </div>
    </div>
  </div>  
 
</div> -->

<!-- Container (About Section) -->
<div id="about" class="container-fluid" style="background-color: #005bbb;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <h3 style="letter-spacing:20px;">ABOUT US</h3>
    <div>
    <p id="aboutMe" style="padding-bottom: 30px;">University at Buffalo is home to more than 30,000 students and there are cultural, social and academic events going on everyday. ArouundMe is an elegant website built to connect users to events around them. This website not only  shows you what and were the events are going on but also allows users to create event for others to see. </p>
    <hr style="padding: 0%;">
    </div> 
        
        <button class="btn btn-default btn-lg"><a href="#contact"></a><a href="https://cseub.ryver.com/index.html#forums/1156841/chat">Contact Us</a></button> 
        <!-- <button class="btn btn-default btn-lg"><a href="#contact">Get in Touch</a></button>  -->
       </div>
    </div>
  </div>
</div>

<div id="resume" class="container-fluid text-center bg-grey" style="padding-bottom: 50px;">
  <h1  style="color:blue; padding:50px; letter-spacing:20px;"><strong>AROUNDME TEAM</strong></h2>
  
  <div class="row text-center">
    <div class="col-sm-4" style="padding-bottom: 40px">
        <img src="https://avatars2.githubusercontent.com/u/16300466?v=4&s=460" class="img-circle" alt="Dan" width="85%" height="70%">
         <h2 style="color:black !important;">Daniel Puleio</strong></h2>
        <h4>B.S Computer Engineering 2018</h4>
    <a href="https://www.linkedin.com/in/danielpuleio"><i class="fa fa-linkedin-square fa-2x" style="padding-left:5px;"></i></a>
    <a href="https://www.github.com/depuleio"><i class="fa fa-github-square fa-2x" style="padding-left:10px"></i></a>
    </div>
  
    <div class="col-sm-4" style="padding-bottom: 40px">
        <img src="http://www.sonamwangchuk.info/photo.jpg" class="img-circle" alt="Sonam" width="85%" height="70%">
        <h2 style="color:black !important;" >Sonam Wangchuk</h2>
        <h4 >B.S Computer Science 2018</h4>
    <a href="https://www.linkedin.com/in/sonamwangchuk"><i class="fa fa-linkedin-square fa-2x" style="padding-left:5px;"></i></a>
    <a href="https://www.github.com/sonamwan"><i class="fa fa-github-square fa-2x" style="padding-left:10px";></i></a>
    </div>
  
    <div class="col-sm-4" style="padding-bottom: 40px">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAtrAAAAJDNkOTFlNTBmLWViNzAtNDllMy1hMDM3LTkxZTBhZjhiMjRmNg.jpg" class="img-circle" alt="Sada" width="85%" height="70%">
        <h2 style="color:black !important;" >Sada Haider</h2>
        <h4>B.S Computer Engineering 2018</h4>
    <a href="https://www.linkedin.com/in/sada-haider/"><i class="fa fa-linkedin-square fa-2x" style="padding-left:5px;"></i></a>
    <a href="https://www.github.com/sadahaider"><i class="fa fa-github-square fa-2x" style="padding-left:10px";></i></a>
    </div>
</div>     
</div>
</div>


<div id="googleMap" style="height:400px;width:100%;"></div>

<!-- Add Google Maps -->
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmIT3Jo0ogm2YWK0WdyXoqs1orYI5ngnk&callback=initMap">
    </script>

<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<script>
var myCenter = new google.maps.LatLng(43.0008, -78.7890);

function initialize() {
var mapProp = {
  center:myCenter,
  zoom:12,
  scrollwheel:false,
  draggable:false,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
  
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p style="color: black !important;">Proudly Created By <a href="http://depuleio.pythonanywhere.com/" title="Visit Tsunami">AroundMe Team</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
